{{- $githubUrl := .Get 0 -}}
{{- $lang := .Get 1 -}}
{{- if $githubUrl -}}
    {{- $rawUrl := replace $githubUrl "/github.com/" "/raw.githubusercontent.com/" -}}
    {{- $rawUrl = replace $rawUrl "/blob/" "/" -}}
    {{- $resource := resources.GetRemote $rawUrl -}}
    {{- if $resource -}}
        {{- if $lang -}}
            {{ highlight $resource.Content $lang "" }}
        {{- else -}}
            <pre><code>{{- $resource.Content | htmlEscape -}}</code></pre>
        {{- end -}}
        <p style="text-align: right; font-size: 0.8em; margin-top: 0.5em; opacity: 0.7;"><a href="{{ $githubUrl }}" target="_blank">View on GitHub</a></p>
    {{- else -}}
        <div class="error">Failed to fetch content from: {{ $githubUrl }}</div>
    {{- end -}}
{{- else -}}
    <div class="error">GitHub URL is required</div>
{{- end -}}
